{% extends 'base.html.twig' %}

{% block title %}Strona Główna{% endblock %}

{% block body %}
  <h2>Witamy na stronie głównej Kanban!</h2>
  <p>Użyj menu, aby nawigować po aplikacji.</p>
{% endblock %} 